/***************************/
/* Partie reset + Générale */
/***************************/
* {
	margin: 0px;
	padding: 0px;
	border: none;
}
body {	
	font: normal 62.5%/1em Arial, Helvetica, sans-serif;	
	line-height: normal;
	background-color: #5B6E8A;
		
}
img { 
	border: none;
}
input {
	font-family: Arial, Helvetica, sans-serif;
}
/***************/
/* Bloc header */
/***************/
#header {
	background: url(/backoffice/cms/img/trame-claire.gif) repeat;
	height: 194px;
	padding-left: 224px;
}
#header h1 {
	font-size: 4.4em;
	color: #5B6E8A;
	font-weight: normal;
	padding-top: 115px;	
}
#header h1 span {
	font-weight: bold;
}
#header h1 sup {	
	font-size: 22px;		
}
* html #header h1 sup {
	font-size: 28px;
}
*+ html #header h1 sup {
	font-size: 28px;
}


/*************/
/* Bloc logo */
/*************/
#logo {
	position: absolute;
	/*top: 152px;
	left: 770px;*/
	bottom: 0;
	right: 0;
}

/***************/
/* Bloc center */
/***************/
#center {
	background: url(/backoffice/cms/img/fd_center_bo.jpg) no-repeat;
	padding: 56px 0px 0px 248px;
}
#center h2 {
	color: #FFFFFF;
	font-size: 2.2em;
	font-weight: normal;
	margin-bottom: 10px;
}
#center h2 cufon {
	margin-bottom: 5px;
}
#center h2 span {
	font-size: 1.7em;
}
#center p {	
	width: 280px;
	margin: 5px 0px;
	color: #FFFFFF;
}
#center p label {
	float: left;
	width: 90px;
	font-size: 1.2em;	 
}
#center p label.error {
	float: none;
	margin-left: 90px;
	color: #FFD239;
	font-size: 11px;
	font-weight: bold;
}
#center p input {
	width: 186px;
	padding: 2px;
	color: #000000;
}
* html #center p input {
	width: 182px;
}
#center p.valider {
	text-align: right;
	padding: 10px 0px 30px 0px;
}
#center p.valider a, #center p.valider input {
	font-size: 2.1em;
	background: url(/backoffice/cms/img/fleche_valid.gif) no-repeat 0px 3px;
	padding-left: 20px;
	color: #FFFFFF;
	text-decoration: none;
}
#center p.valider input {
	width: auto;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	background: url(/backoffice/cms/img/fleche_valid.gif) no-repeat 0px 6px;
}
#center p.erreur {
	font-size: 1.1em;
	font-weight: bold;
	color: #ffd239;
}
 
#center p.forget {
	text-align: right;  
}

#center p.forget a{ 
	color: #FFFFFF;
	text-decoration:none;
}

/***************/
/* Bloc center fancybox*/
/***************/
#center_fancybox {
	background-color: #697993;
	padding: 40px 50px 20px 50px;
	/*height: 100%;
	width: 100%;*/
}
#center_fancybox h2 {
	color: #FFFFFF;
	font-size: 2.2em;
	font-weight: normal;
	margin-bottom: 20px;
}
#center_fancybox h2 cufon {
	margin-bottom: 5px;
}
#center_fancybox h2 span {
	font-size: 1.7em;
}
#center_fancybox p {	
	width: 280px;
	margin: 5px 0px;
	color: #FFFFFF;
}
#center_fancybox p label {
	float: left;
	width: 90px;
	font-size: 1.2em;	 
}
#center_fancybox p input {
	width: 186px;
	padding: 2px;
	color: #000000;
}
* html #center_fancybox p input {
	width: 182px;
}
#center_fancybox p.valider {
	text-align: right;
	padding: 10px 0px 30px 0px;
}
#center_fancybox p.valider a {
	font-size: 2.1em;
	background: url(/backoffice/cms/img/fleche_valid.gif) no-repeat 0px 3px;
	padding-left: 20px;
	color: #FFFFFF;
	text-decoration: none;
}
#center_fancybox p.erreur {
	font-size: 1.1em;
	font-weight: bold;
	padding-top:2px;
	color: #ffd239;
}

#center_fancybox span.erreur_form { 
	padding-top:10px; 
	color: #F3B309;
}
 
#center_fancybox p.forget {
	text-align: right;  
}

#center_fancybox p.forget a{ 
	color: #FFFFFF;
	text-decoration:none;
}

/***************/
/* Bloc footer */
/***************/
#footer {
	position: fixed; 
	bottom: 0;	
	height: 12px;
	width: 580px;
	background: #5B6E8A url(/backoffice/cms/img/bottom_home_bo.gif) no-repeat 224px bottom; 
}
* html #footer {
	position: absolute;	
}